#naglowek {
    background-color: darkblue;
    color: white;
    text-align: center;
}

#naglowek h1 {
    font-size: 36px;
    font-weight: bold;
}

#naglowek p {
    font-size: 24px;
    font-style: italic;
}

#baner {
    background-image: url('https://picsum.photos/1200/300?random=67');
    background-size: cover;
    /* obraz pokrywa cały div */
    background-position: center;
    /* wyśrodkowanie obrazu */
    text-align: center;
    padding: 60px 20px;
}

.wpis {
    border: black 1px solid;
    margin: 15px;
    padding: 10px;
    -webkit-box-shadow: 1px -1px 22px -1px #000000;
    box-shadow: 1px -1px 22px -1px #000000;
}